# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode

# Docker
postgres_data/
.env*.local

# Sensitive files
*.csv
scratch/

.vercel

# Media & Temp uploads (ignore large files, allow small scripts)
public/uploads/*.mp4
public/uploads/*.mp3
public/uploads/*.wav
public/uploads/*.exe
public/uploads/*.zip
public/uploads/*.pyc
test_workspace/
test_workspace2/
workspace/
build/
dist/
__pycache__/
*.mp4
*.wav
*.spec
yt_debug.html
yt_rss.xml

# Debug & Temporary Scripts
scratch_get_last_task.ts
app/scratch_get_last_task.ts
app/app/clean_db.ts
app/check_db.ts
app/cleanup.ts
app/delete_review.js
app/find_syntax_errors.js
app/fix_empty_desc.js
app/fix_titles_and_members.js
app/generate_samples.py
app/test_db.ts
app/test_edge_tts.py
app/test_text.ts
app/test_workflow.py
app/test_workflow_2.py
app/app/batch_categorize.ts
app/app/cleanup.ts
test_rate.mp3

.vercel

